:root {
    --FuenteTitulos: "PT Sans", sans-serif;
    --FuenteParrafos: "Open Sans", sans-serif;

    --primary: #5B4B8A;
    --secondary: #E9E7F3;
    --coral: #ff6e6c;
    --white: #FFF;
    --mainText: #2E2A3B;
    --card: #e2daeb;
    --back: #f4effc;
    --purpleBack:#301e4e;
    --purpleTag: #4c346b;
}
html {
    box-sizing: border-box;     /* El ancho y alto incluyen el contenido, padding y borde. */
    font-size: 62.5%;   /* 10px = 1rem*/
}
*,*::before,*::after {
    box-sizing: inherit;    /*Hace que el elemento herede el modo de cálculo de tamaño de su padre*/
}
/* Globales */
body {
    font-family: var(--FuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
}
.container {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: var(--coral);
}
.navegacion-principal > a:hover{
    font-weight: bold;
    color: var(--white);
    background-color: #5B4B8A;
    padding: 0 2rem;
    transform: scale(1.05);  /*Crecimiento(Los demas elementos no se mueven)*/
}
h1,h2,h3 {
    font-family: var(--FuenteTitulos);
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2.4rem;
}
h3 {
    font-size: 1.8rem;
}
img {
    max-width: 100%;
    display: block;
}
/* Utilities */
.text-center {
    text-align: center;
}
.lighter {
    font-weight: lighter;
}
.pointer {
    cursor: pointer;
}

/* Header*/
.title {
    color: var(--mainText);
}
span {
    color: var(--coral);
}
.span {
    color: var(--secondary);
}

/* Nav */

.navegacion-principal {
    display: flex;
    justify-content: space-around;
}
.material-symbols-outlined {
    font-size: 2rem;
    color: var(--coral);
}
.material-symbols-outlined:hover {
    color: var(--primary);
}

@media (max-width: 940px) { /* tablet */
    .navegacion-principal {
        flex-direction: column;
        align-items: center;        
    }
    .navegacion-principal > a {
        font-size: 1.5rem;
    }
    .navegacion-principal > a:hover{
        width: 100%;
        text-align: center;
    }
}
@media (max-width: 480px) {     /* Movil */
    .navegacion-principal > a {
        font-size: 1.2rem;
    }
    header a .title {
        font-size: 1.8rem;
    }
    .material-symbols-outlined {
        font-size: 1.3rem;
    }
}

/* Seccion Buscador */
.buscador-principal {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
input[type="search"] {
    width: clamp(25rem, 50vw, 90rem);
    padding: 1.5rem;
    border: none;
}
input[type="search"]:focus {
    outline: none;
}
.search, input[type="search"] {
    background-color: var(--purpleBack);
    border-radius: 2rem;
    color: #e2daeb;
}
a .search, input::placeholder{
    color: var(--secondary);
}
.portada {
    background-image: url("../img/portada.avif");
    height: 80rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
    margin-top: 2rem;
}
.color {
    background-color: #301e4eCC;
    width: 100%;
    height: 100%;
}
input::placeholder {
    padding-left: 1rem;
}
.contenedor-lupa {
    width: 5rem;
}
.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media (max-width: 480px) {
    .portada {
        height: 40rem;
    }
    input[type="search"] {
        padding: 1rem;
        border: none;
        font-size: 1.2rem;
    }
}

/* Seccion Books Month*/
.principal-section {
    background-color: var(--secondary);

}
.seccion-principal {
    padding-top: 10rem;
    padding-bottom: 5rem;
}
.encabezado-section {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10rem;
    margin-bottom: 10rem;
}
.titulo-section {
    text-transform: uppercase;
    font-size: 3.5rem;
}
.texto-section {
    margin-left: 10rem;
    font-size: 1.5rem;
}
.titulo-section, .texto-section {
    line-height: 1.6;
}

@media (max-width:  900px) {  /* Tablet */
    .encabezado-section {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .seccion-principal {
        padding-bottom: 0;
        text-align: center;
    }
    .texto-section {
        margin-right: 10rem;
        text-align: justify;
    }
}
@media (max-width: 480px) { /* Movil */
    .titulo-section {
        font-size: 2.2rem;
    }
    .texto-section {
        margin: 2rem 3.5rem;
    }
    .text-card {
        padding-bottom: 0;
        text-align: center;
        font-size: 1.2rem;
    }
}
.text-card {
    line-height: 1.3;
}
#libros-top {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 3rem;
    margin-top: 6rem;
    margin-bottom: 20rem;
}
.img-card {
    max-width: 100%;
    height: 30rem;
    border-radius: .5rem;
}

.span-precio {
    color: #9a92a7;
}
.books-month {
    transition-duration: .3s;   /*Animacion*/
    transition-property: transform background-size;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.books-month:hover {
    transform: scale(1.1);
}
.books-month .text-card {
    width: 98%;
}

@media (max-width: 480px) {
    .img-card {
        height: 20rem;
    }
    #libros-top h3{
        font-size: 1.4rem;
    }
    #libros-top p{
        font-size: 1.2rem;
    }
}

/* Seccion Generos */
.seccion-generos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;   /* Filas automaticas */
    gap: 2.5rem;
    margin-bottom: 30rem;
    margin-top: 20rem;
}
@media (max-width: 480px) {
    .seccion-generos {
        margin-bottom: 15rem;
        margin-top: 10rem;
    }
    
}
.seccion-generos div{
    text-align: center;
    border-radius: .5rem;
    line-height: .5;
    transition-duration: .3s;   /*Animacion*/
    transition-property: transform background-size;
    font-weight: bold;
    background-repeat: no-repeat;
}
.seccion-generos div:not(.genero-2) {
    background-position: top 150% center;
    color: var(--secondary);
    background-size: 40%;   /*imagen de fondo*/
}
.seccion-generos div:hover {
    transform: scale(1.1);
}
.seccion-generos div h1 {
    text-transform: uppercase;
}
.genero-5 {
    grid-column: 3/4;
    background-color: #4A3573;
    background-image: url('/img/libro.png');
}
.genero-2 {
    grid-row: 1/3;
    grid-column: 2/3;
    background-color: #E6E0F0;
    background-image: url('/img/libros-de-amor.png');
    color: var(--mainText);

    background-position: top 105% center;
    background-size: 80%;   /*imagen de fondo*/
}
.genero-1 {
    background-color: #4A3573;
    background-image: url('/img/novela-policial.png');
}
.genero-3 {
    background-color: #2B1B47;
    background-image: url('/img/hada.png');
}
.genero-4 {
    background-color: #2B1B47;
    background-image: url('/img/androide.png');
}
.seccion-generos div:not(.genero-2){
    height: 25rem;
}
.seccion-generos div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 1340px) {
    .seccion-generos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .genero-2 {
        grid-column: 1/span 2;
        grid-row: 2;
        height: 25rem;
        background-position: top 150% center;
        background-size: 30%;   /*imagen de fondo*/
    }
    .genero-3 {
        grid-column: 1;
        grid-row: 3;
    }
    .genero-5 {
        grid-column: 2;
        grid-row: 3;
    }
}

@media (max-width: 480px) {
    .seccion-generos div{
        max-height: 12rem;
    }
    .seccion-generos div h1 {
        font-size: 1.6rem;
    }
    .genero-2 {
        background-size: 20%;   /*imagen de fondo*/
    }
    .seccion-generos div:not(.genero-2) {
        background-position: top 140% center;
        background-size: 35%;
    }
    .genero-5 h1, .genero-4 h1 {
        line-height: 1.3;
    }
}
/* Seccion Recomendados */
.seccion-recomendados {
    background-color: var(--purpleBack);
    color: var(--white);
}
.encabezado-recomendado h1 {
    text-transform: uppercase;
    text-align: center;
    padding-top: 15rem;
    padding-bottom: 10rem;
    font-size: 4rem;
}
#libros-recomendados {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 3rem;
    padding-top: 6rem;
    padding-bottom: 20rem;
}
@media (max-width: 480px) {
    .encabezado-recomendado h1 {
        font-size: 2.5rem;
        padding-top: 12rem;
        padding-bottom: 2rem;
    }
}

/* Seccion Header */
.contenedor-header {
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap: 5rem;
    padding-top: 10rem;
    padding-bottom: 3rem;
}

.Find-us {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.Find-us a {
    color: var(--coral);
}
.titulo-Find {
    font-size: 1.8rem;
}
.contenido-header p{
    padding-right: 10rem;
}

@media (max-width: 480px) {
    .contenedor-header {
        display: flex;
        flex-direction: column;
    }
    .titulo-Find, .contenedor-header {
        font-size: 1.2rem;
    }
    .Find-us {
        align-items: center;
    }
    .contenido-header p{
        padding-right: 1.2rem;
    }
    .copy{
        font-size: 1rem;
    }
}